<h3>Comentarios</h3>

<article class='comment' *ngFor="let comment of comments">
  <h6>By <strong>{{ comment.autor }}</strong> at <time>{{ comment.fecha }}</time></h6>
  <blockquote class="blockquote">{{ comment.contenido }}</blockquote>
</article>

<form class="comment-write">
  <h4>Escribe un comentario</h4>
  <div class="form-group">
    <label>Autor</label>
    <input type="text" ngModel="newCommentAuthor"/>
  </div>
  <div class="form-group">
    <label>Comentario</label>
    <textarea>{{ newCommentContent }}</textarea>
  </div>
  <button [disabled]='botonDesactivado' (click)="mostrarAviso()">Publicar</button>
</form>
