form{
  display:flex;
  flex-direction:column;
  margin:0 auto;
  width:400px;
  background-color: #e9ebee;
  padding: 2rem;
  border-radius: 5px;
  h2{
    font-weight:lighter;
    border-bottom:1px solid;
  }
  input,textarea{
    margin: 1rem 0;
  }
  button{
    background-color: #25a0b6;
    border-radius: 5px;
    padding: 0.5em 1em;
    align-self: flex-start;
    color:white;
  }
}
