*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  font-weight:lighter;
  border-bottom:1px solid;
}
h4{
  span{
    font: 15px normal inherit;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
  }
}
p{
  font-size: 14px;
}
