.global{
  margin: 0;
  padding: 0;
}
.titulo{
  background-color: #3a6315;
  color: white;
  padding: 12px;
}
.container{
  background-color: #dbf4a9;
  display: flex;
  padding: 29px 0;
  color: #3a6215;
  justify-content: space-around;
}
.photo1 img{
  width: 420px;
}
.photo2 img{
  width: 420px;
}
.photo3 img{
  width: 420px;
}
