<!--The content below is only a placeholder and can be replaced.-->
<div class="global">
  <h1 class="titulo">
  {{ title }}!
  </h1>
  <div class="container">
    <figure class="photo1">
      <img src="{{photo1}}">
      <figcaption>Libélula</figcaption>
    </figure>

    <figure class="photo2">
      <img src="{{photo2}}">
      <figcaption>Golden Retriever</figcaption>
    </figure>

    <figure class="photo3">
      <img src="{{photo3}}">
      <figcaption>Panda Rojo</figcaption>
    </figure>
  </div>
</div>

<router-outlet></router-outlet>
