<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:left">
  <h1>
    {{ title }}
  </h1>
</div>
<div class = "imagenes">
  <img id="foto1" src="https://video-images.vice.com/articles/5c7681dd51eb4600075b6f8b/lede/1551272102484-National-Geographic-Traveller-Winners-2019-2-of-5.jpeg?crop=0.7057291666666666xw%3A1xh%3Bcenter%2Ccenter&resize=650%3A*&output-quality=55" alt="gorila">
  <img id="foto2" src="https://assets-natgeotv.fnghub.com/Shows/10956.jpg" alt="tigre">
  <img id="foto3" src="https://i.kinja-img.com/gawker-media/image/upload/s--XexlCODd--/c_scale,f_auto,fl_progressive,q_80,w_800/onooefuusbytrcibvkff.jpg" alt="">
</div>

<router-outlet></router-outlet>
