div {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  h1 {
    margin: 0;
    padding: 2rem;
    background-color: black;
    text-align: left;
    font-size: 16px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f76d77;
    figure{
      img {
        border: 10px solid #d2d2d2;
      }
      &:nth-child(1){
        img{
          width: 40rem;}
        }
      &:nth-child(2){
        img{
          width: 10rem;}
        }
      &:nth-child(3){
        img{
          width: 20rem;}
        }
      figcaption{text-align: left;
      font-size: small}
    }
  }
}

