div{
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  h1{
    font-weight:lighter;
    margin: 0;
  }
  figure{
    overflow: hidden;
    margin: 0 auto;
    img{
      width: 100%;
    }
    figcaption{
      text-align: justify;
    }
  }
}
