<header style="text-align:center">
    <!-- https://www.pcgamesn.com/cyberpunk-2077/cyberpunk-2077-release-date-->
    <h1 class="pb-5">
     {{title}}
    </h1>
  <img width="1200" src="{{mainPic}}" alt="main picture">
  </header>

  <main>
    <div class="container-fluid">
      <div class="row pt-5 pb-5">
        <div class = "col-xl-8 mx-auto">
          <div class="bold-txt font-weight-bold">
          <p>{{p1}}</p>
        </div>
        <p>{{p2}}</p>
        <p>{{p3}}</p>
          <p>CD Projekt Red’s videogame is an adaptation of the Cyberpunk 2020 pen-and-paper game. It’s a first-person RPG set in a gritty, vast future metropolis known as Night City. Like The Witcher 3, it’s an adult story, touching on drugs, violence, and social politics. It’s almost certainly going to be the most talked about game when it finally releases next year. Here’s everything we know about Cyberpunk 2077.</p>
          <h4>CYBERPUNK 2077 RELEASE DATE</h4>
          <p>The official Cyberpunk 2077 release date is April 16, 2020. That means there’s less than a year until we’re able to explore the seedy underbelly of Night City.</p>
          <p>The reveal comes fresh from Microsoft’s E3 2019 conference, where the all-important launch date appeared at the end of a gorgeous new cinematic trailer. Give it a watch below.</p>
          <!--VIDEO-->

          <p>CYBERPUNK 2077 GAMEPLAY</p>
          <p>Cyberpunk 2077 gameplay first debuted behind closed doors at E3, and CD Projekt Red showcased the same demo to a select few at Gamescom. Soon after the developers have revealed that footage to the general public. You can view it in full below.</p>
          <p>In it we see one of Cyberpunk 2077’s side missions play out, and quite how much the game owes to the pen-and-paper RPGs from which it takes inspiration. Our character, V, is given the task from famed Fixer, Dexter DeShawn to take an expensive spider bot drone, by any means necessary.</p>
          <p>The bot, it turns out, is part of a haul stolen from Militech by the Maelstrom gang. The mission sees you play off both groups in either a peaceful or violent way, or an approach somewhere in between. We also get a proper introduction to the seedy underbelly – and overbelly, really – of Night City both on foot and on four wheels, and a visual representation of how weapon and character upgrades work.</p>
          <p>According to quest director Mateusz Tomaszkiewicz, however, what we saw was a mere fragment of the overall game and the Cyberpunk 2077 demo has changed a lot since. Speaking to Areajugones (via dsogaming), he says “the demo shown last year was only a small fragment of the actual game,” and that it wasn’t clear from the gameplay video “how the game fits into an open world or how it fits into a larger image of the game. I would say that the game is pretty different to what we [showed] last year.”</p>
          <p>While we could admire Geralt’s shock of white hair in the third-person The Witcher 3, Cyberpunk 2077 is a first-person RPG. You will have three main types of Cyberpunk 2077 weapons that include melee weapons and high-tech guns, and you will indulge in a bit of Watch-Dogs-style scanning and, with the right Cyberpunk 2077 abilities, plenty of hacking.</p>
          <p>You also have two types of Cyberpunk 2077 XP: core XP and ‘Street Cred’. The former is earned by completing main missions, but you only build Street Cred by completing side missions. You can then spend your special experience points to access new vendors and Fixers, a special type of quest giver. You can also boost your Street Cred with Cyberpunk 2077 gear, which includes designer clothing that will grant you elemental defense stats.</p>
          <div class="gameplay d-flex justify-content-center pt-4 pb-4">
          <img width=1200  src="{{gameplay}}" alt="gameplay picture" >
        </div>
        <p>Given what’s most likely going to be a gargantuan world, you’re going to need a way to get around. Usefully, then, we have hundreds of Cyberpunk 2077 vehicles to better explore the world, and action-packed car chases. Unfortunately, you will not be able control any of the flying vehicles in the world, but you will be able to steal cars to rapidly get around Night City. CD Projekt Red also say that there will be no loading screens to get in the way of your exploration of this handcrafted game world.</p>
        <p>In terms of Cyberpunk 2077 combat, we can expect everything from numbers popping out of enemies to a full destruction system to crop up during gun battles. There are weapons with smart-tracking bullets, weapons that can shoot through walls, and abilities that can hack enemies brains to mush, so you will have a variety of ways to take on every fight. A lot of your combat potential will be decided by which implants and augmentations you have equipped, but be wary of installing too many implants as you can develop Cyberpsychoses in Cyberpunk 2077</p>
        <p>Night City is a seedy spot where criminal gangs often rule the roost, so how will you let your hair down after shooting up a gang hideout? Well, we know that there will be Cyberpunk 2077 romance options that allow you to flirt with NPCs and have one night stands with them. That the game has “full-frontal nudity” shouldn’t surprise Witcher 3 fans; Geralt did get around the block a few times. On a totally unrelated note, CDPR is supposedly “planning” a Cyberpunk 2077 photo mode.</p>
      </div>
      </div>

    </div>




  </main>
