<h2>{{ titulo }} <small>{{ fecha }}</small></h2>

<img src="/assets/blue-sky.jpg">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed lacinia ligula. Aliquam non eleifend metus. Maecenas felis diam, rutrum sit amet convallis a, semper eget nunc. Praesent tortor mauris, sodales non quam vitae, egestas placerat nulla. Quisque facilisis dui nisl, sed tempus nibh lobortis nec. Aenean auctor, nisi sit amet condimentum gravida, est justo bibendum dui, id ullamcorper sem elit vel orci. Duis sollicitudin arcu eget metus dapibus commodo. Nulla laoreet finibus posuere. Aliquam id lacinia ligula, sit amet malesuada nunc. Nullam consectetur mauris sit amet risus commodo, non porttitor ipsum tincidunt. Fusce nulla est, ultrices a condimentum at, ullamcorper ac neque. Vivamus luctus augue eget tellus finibus placerat. Sed in neque eget libero eleifend elementum ac quis lorem.</p>
<p>Fusce mattis urna commodo tincidunt maximus. Suspendisse potenti. Nam ac elementum massa. Nulla non purus faucibus, sollicitudin velit a, suscipit magna. Donec suscipit ligula et arcu tincidunt auctor. Aliquam diam elit, vulputate eu aliquam at, placerat lobortis nulla. Integer molestie vitae nulla non dictum. Suspendisse ullamcorper neque eleifend aliquet volutpat.</p>

<app-comment></app-comment>
