<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container">
  <!--how many mesages-->
<!-- Titulo noticias-->
  <div class="card">
    <div class="card-content">
      <p class="title">
        “{{ title }}”
      </p>
      <p class="subtitle">
        Robert Garcia
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          {{ longArr }}
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Share on <a href="#">Facebook</a>
        </span>
      </p>
    </footer>
  </div>
<br>
  <!--comentarios-->
  <article class="media" *ngFor="let comment of allComments; let numText = index">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{avatarsUser}}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="text-capitalize">{{comment.nameUser}}</strong> <small class="ml-5">{{ comment.timeUser }}</small>
          <br>
          {{ comment.textUser }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="media-right">
      <button class="delete" (click) = "deleteMe(numText)"></button>
    </div>
  </article>

  <br>
  <!--Submit comment-->
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{avatarsUser}}">
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <div class="control">
          <input class="input text-capitalize" type="text" [(ngModel)] = "nameUser" (ngModelChange) = "nameUser = $event" placeholder="Type your name">
        </div>
      </div>
      <div class="field">
        <p class="control">
          <textarea class="textarea"  [(ngModel)] = "textUser" (ngModelChange) = "textUser = $event" placeholder="Add a comment..."></textarea>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <a class="button is-info" (click) = "aggregateMe()">Submit</a>
          </div>
        </div>
        <div class="level-right d-none">
          <div class="level-item">
            <label class="checkbox">
              <input type="checkbox"> Press enter to submit
            </label>
          </div>
        </div>
      </nav>
    </div>
  </article>
  <!--End form comment-->
</div>
<br>
